#!/usr/bin/env xdg-open

[Desktop Entry]
Comment=
Terminal=false
Name=MDRRC-II Loc Editor
Exec=/home/pman/Dropbox/Peter/Scripts/mdrrc2/locgrid.py
Path=/home/pman/Dropbox/Peter/Scripts/mdrrc2/
Type=Application
Icon=applications-games-symbolic
Icon[nl]=/usr/share/icons/oxygen/256x256/mimetypes/application-vnd.oasis.opendocument.spreadsheet-template.png
